@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --default-font-family: var(--font-merriweather), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-sans: var(--font-open-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: var(--font-merriweather), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-tw-pacifico: var(--font-pacifico), serif;
  --font-tw-gaegu: var(--font-gaegu), serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

main h1 span {
  font-family: var(--font-tw-pacifico), serif;
  display: inline-block;
  padding-right: var(--spacing);;
}

/* TODO: need this? */
main {
  -webkit-overflow-scrolling: touch;
}

code {
  font-family: var(--font-mono);
}