@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

/* * {
  box-sizing: border-box;
} */

html {
  /* background-color: #fff; */
  font-family: sans-serif;
}

/* html,
body {
  height: 100%;
  min-height: 100%;
} */

/* html.dark {
  background-color: #0d0950;
  color: #fff;

  header {
    background-color: #0d0950;
  }
}

.dark a {
  color: #fff;
} */

body {
  font-family: var(--font-merriweather), serif;
  font-size: 18px;
  margin: 0;
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-open-sans), sans-serif;
  font-weight: bold;
  margin-top: 0;
}

h1 {
  font-size: 32px;
}

a {
  color: #00f;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
