---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Michael Yuen's website">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <main>
    <h1>Hi, I'm Michael Yuen and welcome to my website</h1>
  </main>
  <a href="/what-does-a-website-actually-need"
    >What does a website actually need?</a
  >
</Layout>

<style></style>
