---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Michael Yuen's website">
  <Navigation />
  <main>
    <h1>Hi, I'm Michael Yuen and welcome to my website</h1>
  </main>
  <a href="/what-does-a-website-actually-need"
    >What does a website actually need?</a
  >
</Layout>

<style></style>
