---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Michael Yuen's website">
  <main>
    <h1>Hi, I'm Michael Yuen and welcome to my website</h1>
  </main>
  <a href="/what-does-a-website-actually-need"
    >What does a website actually need?</a
  >
</BaseLayout>
