---

---

<header
  class="sticky top-0 z-1 flex w-screen max-w-screen flex-col items-center border-b border-solid border-gray-200 bg-white p-4 text-black dark:border-gray-800 dark:bg-black dark:text-white"
>
  <h1 class="group mb-4 font-tw-pacifico! text-4xl font-bold">
    <a class="no-underline group-hover:underline hover:text-blue-600" href="/">
      m<span class="group-hover:underline">ichael</span><span>&nbsp;</span
      >y<span class="group-hover:underline">uen</span>
    </a>
  </h1>
  <nav>
    <ul class="flex font-tw-gaegu text-2xl">
      <li>
        <a
          class="pr-2 no-underline hover:text-blue-600 hover:underline"
          href="/">bio.</a
        >
      </li>
      <li>
        <a
          class="pr-2 no-underline hover:text-blue-600 hover:underline"
          href="/work">work.</a
        >
      </li>
      <li>
        <a
          class="pr-2 no-underline hover:text-blue-600 hover:underline"
          href="/blog">blog.</a
        >
      </li>
      <li>
        <a
          class="pr-2 no-underline hover:text-blue-600 hover:underline"
          href="/tags">tags.</a
        >
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    transform: translateX(0);
    transition: transform 300ms ease 0ms;
  }

  h1 {
    span {
      display: inline-block;
      width: auto;
      transition:
        opacity 300ms ease 300ms,
        width 300ms ease 0ms;

      &:first-child {
        width: 89px;
      }

      &:nth-child(2) {
        width: 8px;
      }

      &:last-child {
        width: 50px;
      }
    }
  }

  .not-at-top {
    transform: translateY(-16px);
    transition: transform 300ms ease 300ms;

    span {
      opacity: 0;
      width: 0 !important;
      transition:
        opacity 300ms ease 0ms,
        width 300ms ease 300ms;
    }
  }
</style>

<script>
  const SCROLL_THRESHOLD = 120;
  window.addEventListener("scroll", () => {
    const isNotAtTop = window.pageYOffset > SCROLL_THRESHOLD;
    document
      .querySelector("header")
      ?.classList.toggle("not-at-top", isNotAtTop);
  });
</script>
