---
import { Font } from "astro:assets";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
import "../styles/global.css";

interface Props {
  isFullWidth?: boolean;
  title: string;
}

const { isFullWidth, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="My stuff & thangs" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍄</text></svg>"
    />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <Font cssVariable="--font-gaegu" preload />
    <Font cssVariable="--font-merriweather" preload />
    <Font cssVariable="--font-open-sans" preload />
    <Font cssVariable="--font-pacifico" preload />
  </head>
  <body>
    <ThemeIcon />
    <Header />
    <main
      class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline"
    >
      <slot />
    </main>
    <!-- <Footer /> -->
  </body>
</html>

<style>
  main {
    padding: 32px;
    margin: 0 auto;
    max-width: 768px;
    -webkit-overflow-scrolling: touch;

    h1 span {
      font-family: var(--font-pacifico), serif;
      display: inline-block;
      padding-right: 5px;
    }
  }
</style>
