---
import Analytics from "@vercel/analytics/astro";
import type { MarkdownLayoutProps } from "astro";
import { Font } from "astro:assets";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
import "../styles/global.css";

interface Props
  extends Partial<
    MarkdownLayoutProps<{
      title: string;
    }>
  > {
  isFullWidth?: boolean;
  title: string;
}

const { frontmatter, isFullWidth, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="My stuff & thangs" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍄</text></svg>"
    />

    <meta name="generator" content={Astro.generator} />
    <title>{title ?? frontmatter?.title}</title>
    <Font cssVariable="--font-gaegu" preload />
    <Font cssVariable="--font-merriweather" preload />
    <Font cssVariable="--font-open-sans" preload />
    <Font cssVariable="--font-pacifico" preload />
  </head>
  <body class="bg-white dark:bg-black">
    <ThemeIcon />
    <Header />
    <main
      class="mx-auto prose prose-lg p-8 dark:prose-invert prose-a:text-blue-600"
    >
      <slot />
    </main>
    <!-- <Footer /> -->
    <Analytics />
  </body>
</html>
